@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

/*@import '~highlight.js/styles/atom-one-dark.css';*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  font-family: 'Nanum Gothic', 'Open Sans',  sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
li{
    list-style: none;
}

.hidden{
  display: none;
}

.salt-green-color{
  color: #0ed058;
}

.salt-green-back{
  background-color: #0ed058;
}

.salt-blue-color{
  color: #0097f6;
}

.salt-blue-back{
  background-color: #0097f6;
}

.btn-salt-blue{
  color: white;
  background-color: #0097f6;
  border-color: #0097f6;
}

.btn-outline-salt-blue {
    color: #0097f6;
    border-color: #0097f6;
}

.btn{
  font-size: 14px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#header{
    width: 100%;
}

#footer{
    width: 100%;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

#logo-img{
    height: 50px;
}

.overflow-auto{
    overflow: auto;
}

/*
z-index
*/

#footer,
#header{
    z-index: 10;
    background-color: white;
}

#sidebar{
    background-color: white;
}

.width-50{
    width: 50%;
}

.width-80{
    width: 80%;
}

.width-100{
    width: 100%;
}

.noresize {
    resize: none; /* 사용자 임의 변경 불가 */
    /*resize: both; /* 사용자 변경이 모두 가능 */
    /*resize: horizontal; /* 좌우만 가능 */
    /*resize: vertical; /* 상하만 가능 */
}

/* context-menu */
.vue-simple-context-menu {
    background-color: #ecf0f1;
    border-bottom-width: 0px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.2);
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 15;
}

.vue-simple-context-menu--active {
    display: block;
}

.vue-simple-context-menu__item:first-child:hover,
.vue-simple-context-menu__item {
    align-items: center;
    color: #333;
    cursor: pointer;
    display: flex;
    padding: 5px 15px;
    background-color: #ecf0f1;
}

.vue-simple-context-menu__item:hover {
    background-color: #007aff;
    color: #fff;
}

.vue-simple-context-menu__divider {
    background-clip: content-box;
    background-color: #c0cdd1;
    box-sizing: content-box;
    height: 2px;
    padding: 4px 0;
    pointer-events: none;
}

.vue-simple-context-menu li:first-of-type {
    margin-top: 4px;
}

.vue-simple-context-menu li:last-of-type {
    margin-bottom: 4px;
}

/* error-type */
/* color */
.error_type_near{
    background: #ffc107;
    color: white;
}

.error_type_post{
    background: #6610f2;
    color: white;
}

.error_type_pron{
    background: #fd7e14;
    color: white;
}

.error_type_cons{
    background: #ffc107;
    color: white;
}

.error_type_spac{
    background: #20c997;
    color: white;
}

.error_type_mark{
    background: #dc3545;
    color: white;
}

.error_type_etc{
    background: #6f42c1;
    color: white;
}

h4{
    font-size: 15px;
    font-weight: 400;
}

.err-sentence,
.cor-sentence{
    font-size: 20px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.fixed-top{
    position: fixed;
    top: 0;
}

.fixed-bottom{
    position: bottom;
    bottom: 0;
}

@media screen and (max-height: 900px) { /* max - 최대 900px - 900 이하  1150 이상  */
    /*
    main {
        height: auto;
    }

    #header,
    #footer{
        position: initial;
        top: initial;
    }
    */
}

@media screen and (max-width: 768px) { /* max - 최대 900px - 900 이하  1150 이상  */
    .err-sentence,
    .cor-sentence{
        font-size: 14px;
    }

    main .container.p-4{
        padding: 1rem !important;
    }
}